In [1]:
from google.colab import drive
drive.mount ('/content/drive')

Mounted at /content/drive

In [2]:
import os

#list files and directories in your Google Drive root
os.listdir('/content/drive/My Drive/')
# os.listdir('/content/drive/My Drive/Break Through Tech AI @ MIT/AI Studio Project/BTTAI Group 46 - PREPARED/') # my path
os.listdir('/content/drive/My Drive/BTTAI Group 46 - PREPARED/') # general path

['PREPARED: AI Studio Challenge Project Overview Deck shared.pptx',
 'Los Angeles Hazard Data.gsheet',
 'NRI_metadata_March2023.docx',
 'NRI_metadata_March2023.xml',
 'NRIDataDictionary.csv',
 'NRI_HazardInfo.csv',
 'NRI_Table_CensusTracts_California.gsheet',
 'Project Scope & Deliverables.gdoc',
 'Team Alliance.gdoc',
 'Archive',
 'Team Progress Summary.gdoc',
 'Data type .gdoc',
 'PREPARED - Sample Product Grid.xlsx',
 'Meeting Notes & Agendas (October).gdoc',
 'Team_26_Project_Sample_Intro_to_RAG.ipynb',
 'Clean LA Hazard Dataset.ipynb',
 'PREPARED AI Project Presentation.gslides']

In [3]:
import gspread
from google.colab import auth
from gspread_dataframe import get_as_dataframe
from oauth2client.client import GoogleCredentials
from google.auth import default

#authenticate and create a client to interact with Google Sheets
auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [4]:
spreadsheet = gc.open('NRI_Table_CensusTracts_California')

In [5]:
# Select the first sheet or specify the sheet name
worksheet = spreadsheet.get_worksheet(0)

In [6]:
df = get_as_dataframe(worksheet)

In [7]:
df.shape

(9108, 469)

In [8]:
df.dtypes

OID_            float64
NRI_ID           object
STATE            object
STATEABBRV       object
STATEFIPS       float64
                 ...
WNTW_RISKS      float64
WNTW_RISKR       object
NRI_VER          object
Unnamed: 467    float64
Unnamed: 468    float64
Length: 469, dtype: object

In [9]:
df.head()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,TRACT,...,WNTW_ALRB,WNTW_ALRP,WNTW_ALRA,WNTW_ALR_NPCTL,WNTW_RISKV,WNTW_RISKS,WNTW_RISKR,NRI_VER,Unnamed: 467,Unnamed: 468
0,4201.0,T06001400100,California,CA,6.0,Alameda,County,1.0,6001.0,400100.0,...,0.0,0.0,0.0,0.0,0.0,0.0,No Rating,March 2023,NaN,NaN
1,4202.0,T06001400200,California,CA,6.0,Alameda,County,1.0,6001.0,400200.0,...,0.0,0.0,0.0,0.0,0.0,0.0,No Rating,March 2023,NaN,NaN
2,4203.0,T06001400300,California,CA,6.0,Alameda,County,1.0,6001.0,400300.0,...,0.0,0.0,0.0,0.0,0.0,0.0,No Rating,March 2023,NaN,NaN
3,4204.0,T06001400400,California,CA,6.0,Alameda,County,1.0,6001.0,400400.0,...,0.0,0.0,0.0,0.0,0.0,0.0,No Rating,March 2023,NaN,NaN
4,4205.0,T06001400500,California,CA,6.0,Alameda,County,1.0,6001.0,400500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,No Rating,March 2023,NaN,NaN

In [10]:
df.isna().sum()

OID_               2
NRI_ID             2
STATE              2
STATEABBRV         2
STATEFIPS          2
                ...
WNTW_RISKS         2
WNTW_RISKR         2
NRI_VER            2
Unnamed: 467    9108
Unnamed: 468    9108
Length: 469, dtype: int64

In [11]:
df.isnull()

,OID_,NRI_ID,STATE,STATEABBRV,STATEFIPS,COUNTY,COUNTYTYPE,COUNTYFIPS,STCOFIPS,TRACT,...,WNTW_ALRB,WNTW_ALRP,WNTW_ALRA,WNTW_ALR_NPCTL,WNTW_RISKV,WNTW_RISKS,WNTW_RISKR,NRI_VER,Unnamed: 467,Unnamed: 468
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9103,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
9104,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
9105,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
9106,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
9107,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [12]:
# Display only rows with NA values
df_na = df[df.isna().any(axis=1)]
print(df_na)

         OID_        NRI_ID       STATE STATEABBRV  STATEFIPS   COUNTY  \
0      4201.0  T06001400100  California         CA        6.0  Alameda
1      4202.0  T06001400200  California         CA        6.0  Alameda
2      4203.0  T06001400300  California         CA        6.0  Alameda
3      4204.0  T06001400400  California         CA        6.0  Alameda
4      4205.0  T06001400500  California         CA        6.0  Alameda
...       ...           ...         ...        ...        ...      ...
9103  13304.0  T06115041002  California         CA        6.0     Yuba
9104  13305.0  T06115041101  California         CA        6.0     Yuba
9105  13306.0  T06115041102  California         CA        6.0     Yuba
9106      NaN           NaN         NaN        NaN        NaN      NaN
9107      NaN           NaN         NaN        NaN        NaN      NaN

     COUNTYTYPE  COUNTYFIPS  STCOFIPS     TRACT  ...     WNTW_ALRB  \
0        County         1.0    6001.0  400100.0  ...  0.000000e+00
1        County         1.0    6001.0  400200.0  ...  0.000000e+00
2        County         1.0    6001.0  400300.0  ...  0.000000e+00
3        County         1.0    6001.0  400400.0  ...  0.000000e+00
4        County         1.0    6001.0  400500.0  ...  0.000000e+00
...         ...         ...       ...       ...  ...           ...
9103     County       115.0    6115.0   41002.0  ...  4.035098e-09
9104     County       115.0    6115.0   41101.0  ...  3.222097e-08
9105     County       115.0    6115.0   41102.0  ...  2.457698e-08
9106        NaN         NaN       NaN       NaN  ...           NaN
9107        NaN         NaN       NaN       NaN  ...           NaN

         WNTW_ALRP     WNTW_ALRA  WNTW_ALR_NPCTL  WNTW_RISKV  WNTW_RISKS  \
0     0.000000e+00  0.000000e+00        0.000000    0.000000    0.000000
1     0.000000e+00  0.000000e+00        0.000000    0.000000    0.000000
2     0.000000e+00  0.000000e+00        0.000000    0.000000    0.000000
3     0.000000e+00  0.000000e+00        0.000000    0.000000    0.000000
4     0.000000e+00  0.000000e+00        0.000000    0.000000    0.000000
...            ...           ...             ...         ...         ...
9103  1.476731e-09  1.100000e-13       21.277920   72.598134   21.001998
9104  1.094750e-08  5.406000e-12       31.029664  603.159753   35.168625
9105  8.551154e-09  0.000000e+00       28.346290  148.205409   23.927365
9106           NaN           NaN             NaN         NaN         NaN
9107           NaN           NaN             NaN         NaN         NaN

          WNTW_RISKR     NRI_VER  Unnamed: 467  Unnamed: 468
0          No Rating  March 2023           NaN           NaN
1          No Rating  March 2023           NaN           NaN
2          No Rating  March 2023           NaN           NaN
3          No Rating  March 2023           NaN           NaN
4          No Rating  March 2023           NaN           NaN
...              ...         ...           ...           ...
9103        Very Low  March 2023           NaN           NaN
9104  Relatively Low  March 2023           NaN           NaN
9105        Very Low  March 2023           NaN           NaN
9106             NaN         NaN           NaN           NaN
9107             NaN         NaN           NaN           NaN

[9108 rows x 469 columns]

In [22]:
# Removing some columns that were completely empty (no values, not even NaN values)
df = df.dropna(axis=1, how='all')
print(df)

         OID_        NRI_ID       STATE STATEABBRV  STATEFIPS   COUNTY  \
0      4201.0  T06001400100  California         CA        6.0  Alameda
1      4202.0  T06001400200  California         CA        6.0  Alameda
2      4203.0  T06001400300  California         CA        6.0  Alameda
3      4204.0  T06001400400  California         CA        6.0  Alameda
4      4205.0  T06001400500  California         CA        6.0  Alameda
...       ...           ...         ...        ...        ...      ...
9101  13302.0  T06115040902  California         CA        6.0     Yuba
9102  13303.0  T06115041001  California         CA        6.0     Yuba
9103  13304.0  T06115041002  California         CA        6.0     Yuba
9104  13305.0  T06115041101  California         CA        6.0     Yuba
9105  13306.0  T06115041102  California         CA        6.0     Yuba

     COUNTYTYPE  COUNTYFIPS  STCOFIPS     TRACT  ...  WNTW_EALS  \
0        County         1.0    6001.0  400100.0  ...   0.000000
1        County         1.0    6001.0  400200.0  ...   0.000000
2        County         1.0    6001.0  400300.0  ...   0.000000
3        County         1.0    6001.0  400400.0  ...   0.000000
4        County         1.0    6001.0  400500.0  ...   0.000000
...         ...         ...       ...       ...  ...        ...
9101     County       115.0    6115.0   40902.0  ...  16.296357
9102     County       115.0    6115.0   41001.0  ...  16.791930
9103     County       115.0    6115.0   41002.0  ...  22.224440
9104     County       115.0    6115.0   41101.0  ...  33.128215
9105     County       115.0    6115.0   41102.0  ...  25.489114

                      WNTW_EALR     WNTW_ALRB     WNTW_ALRP     WNTW_ALRA  \
0     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
1     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
2     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
3     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
4     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
...                         ...           ...           ...           ...
9101                   Very Low  5.015710e-10  1.745130e-10  1.100000e-13
9102                   Very Low  5.015710e-10  1.745130e-10  1.100000e-13
9103                   Very Low  4.035098e-09  1.476731e-09  1.100000e-13
9104             Relatively Low  3.222097e-08  1.094750e-08  5.406000e-12
9105             Relatively Low  2.457698e-08  8.551154e-09  0.000000e+00

      WNTW_ALR_NPCTL  WNTW_RISKV WNTW_RISKS      WNTW_RISKR     NRI_VER
0           0.000000    0.000000   0.000000       No Rating  March 2023
1           0.000000    0.000000   0.000000       No Rating  March 2023
2           0.000000    0.000000   0.000000       No Rating  March 2023
3           0.000000    0.000000   0.000000       No Rating  March 2023
4           0.000000    0.000000   0.000000       No Rating  March 2023
...              ...         ...        ...             ...         ...
9101       16.501867    4.380632  14.737430        Very Low  March 2023
9102       16.495995    8.281271  15.572230        Very Low  March 2023
9103       21.277920   72.598134  21.001998        Very Low  March 2023
9104       31.029664  603.159753  35.168625  Relatively Low  March 2023
9105       28.346290  148.205409  23.927365        Very Low  March 2023

[9106 rows x 445 columns]

In [14]:
# Removing rows that contain all NaN values
df = df.dropna(axis=0, how='all')
print(df)

         OID_        NRI_ID       STATE STATEABBRV  STATEFIPS   COUNTY  \
0      4201.0  T06001400100  California         CA        6.0  Alameda
1      4202.0  T06001400200  California         CA        6.0  Alameda
2      4203.0  T06001400300  California         CA        6.0  Alameda
3      4204.0  T06001400400  California         CA        6.0  Alameda
4      4205.0  T06001400500  California         CA        6.0  Alameda
...       ...           ...         ...        ...        ...      ...
9101  13302.0  T06115040902  California         CA        6.0     Yuba
9102  13303.0  T06115041001  California         CA        6.0     Yuba
9103  13304.0  T06115041002  California         CA        6.0     Yuba
9104  13305.0  T06115041101  California         CA        6.0     Yuba
9105  13306.0  T06115041102  California         CA        6.0     Yuba

     COUNTYTYPE  COUNTYFIPS  STCOFIPS     TRACT  ...  WNTW_EALS  \
0        County         1.0    6001.0  400100.0  ...   0.000000
1        County         1.0    6001.0  400200.0  ...   0.000000
2        County         1.0    6001.0  400300.0  ...   0.000000
3        County         1.0    6001.0  400400.0  ...   0.000000
4        County         1.0    6001.0  400500.0  ...   0.000000
...         ...         ...       ...       ...  ...        ...
9101     County       115.0    6115.0   40902.0  ...  16.296357
9102     County       115.0    6115.0   41001.0  ...  16.791930
9103     County       115.0    6115.0   41002.0  ...  22.224440
9104     County       115.0    6115.0   41101.0  ...  33.128215
9105     County       115.0    6115.0   41102.0  ...  25.489114

                      WNTW_EALR     WNTW_ALRB     WNTW_ALRP     WNTW_ALRA  \
0     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
1     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
2     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
3     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
4     No Expected Annual Losses  0.000000e+00  0.000000e+00  0.000000e+00
...                         ...           ...           ...           ...
9101                   Very Low  5.015710e-10  1.745130e-10  1.100000e-13
9102                   Very Low  5.015710e-10  1.745130e-10  1.100000e-13
9103                   Very Low  4.035098e-09  1.476731e-09  1.100000e-13
9104             Relatively Low  3.222097e-08  1.094750e-08  5.406000e-12
9105             Relatively Low  2.457698e-08  8.551154e-09  0.000000e+00

      WNTW_ALR_NPCTL  WNTW_RISKV WNTW_RISKS      WNTW_RISKR     NRI_VER
0           0.000000    0.000000   0.000000       No Rating  March 2023
1           0.000000    0.000000   0.000000       No Rating  March 2023
2           0.000000    0.000000   0.000000       No Rating  March 2023
3           0.000000    0.000000   0.000000       No Rating  March 2023
4           0.000000    0.000000   0.000000       No Rating  March 2023
...              ...         ...        ...             ...         ...
9101       16.501867    4.380632  14.737430        Very Low  March 2023
9102       16.495995    8.281271  15.572230        Very Low  March 2023
9103       21.277920   72.598134  21.001998        Very Low  March 2023
9104       31.029664  603.159753  35.168625  Relatively Low  March 2023
9105       28.346290  148.205409  23.927365        Very Low  March 2023

[9106 rows x 445 columns]

In [24]:
# Find columns with some NaN values (not completely NaN, not completely filled)
columns_with_some_nan = df.columns[df.isna().any() & ~df.isna().all()]

# Display the list of these columns
print(columns_with_some_nan)

Index(['AVLN_EVNTS', 'AVLN_AFREQ', 'AVLN_EXP_AREA', 'AVLN_EXPB', 'AVLN_EXPP',
       'AVLN_EXPPE', 'AVLN_EXPT', 'AVLN_HLRB', 'AVLN_HLRP', 'AVLN_EALB',
       'AVLN_EALP', 'AVLN_EALPE', 'AVLN_EALT', 'AVLN_EALS', 'AVLN_ALRB',
       'AVLN_ALRP', 'AVLN_ALR_NPCTL', 'AVLN_RISKV', 'AVLN_RISKS', 'CFLD_AFREQ',
       'CFLD_EXP_AREA', 'CFLD_EXPB', 'CFLD_EXPP', 'CFLD_EXPPE', 'CFLD_EXPT',
       'CFLD_HLRB', 'CFLD_HLRP', 'CFLD_EALB', 'CFLD_EALP', 'CFLD_EALPE',
       'CFLD_EALT', 'CFLD_EALS', 'CFLD_ALRB', 'CFLD_ALRP', 'CFLD_ALR_NPCTL',
       'CFLD_RISKV', 'CFLD_RISKS', 'HRCN_EVNTS', 'HRCN_AFREQ', 'HRCN_EXP_AREA',
       'HRCN_EXPB', 'HRCN_EXPP', 'HRCN_EXPPE', 'HRCN_EXPA', 'HRCN_EXPT',
       'HRCN_HLRB', 'HRCN_HLRP', 'HRCN_HLRA', 'HRCN_EALB', 'HRCN_EALP',
       'HRCN_EALPE', 'HRCN_EALA', 'HRCN_EALT', 'HRCN_EALS', 'HRCN_ALRB',
       'HRCN_ALRP', 'HRCN_ALRA', 'HRCN_ALR_NPCTL', 'HRCN_RISKV', 'HRCN_RISKS',
       'TSUN_EVNTS', 'TSUN_AFREQ', 'TSUN_EXP_AREA', 'TSUN_EXPB', 'TSUN_EXPP',
       'TSUN_EXPPE', 'TSUN_EXPT', 'TSUN_HLRB', 'TSUN_HLRP', 'TSUN_EALB',
       'TSUN_EALP', 'TSUN_EALPE', 'TSUN_EALT', 'TSUN_EALS', 'TSUN_ALRB',
       'TSUN_ALRP', 'TSUN_ALR_NPCTL', 'TSUN_RISKV', 'TSUN_RISKS', 'VLCN_EVNTS',
       'VLCN_AFREQ', 'VLCN_EXP_AREA', 'VLCN_EXPB', 'VLCN_EXPP', 'VLCN_EXPPE',
       'VLCN_EXPT', 'VLCN_HLRB', 'VLCN_HLRP', 'VLCN_EALB', 'VLCN_EALP',
       'VLCN_EALPE', 'VLCN_EALT', 'VLCN_EALS', 'VLCN_ALRB', 'VLCN_ALRP',
       'VLCN_ALR_NPCTL', 'VLCN_RISKV', 'VLCN_RISKS'],
      dtype='object')

In [25]:
# Replace NaN values in the specified columns with 0
df[columns_with_some_nan] = df[columns_with_some_nan].fillna(0)

In [26]:
# Checking the null values again
df.isna().sum()

OID_              0
NRI_ID            0
STATE             0
STATEABBRV        0
STATEFIPS         0
                 ..
WNTW_ALR_NPCTL    0
WNTW_RISKV        0
WNTW_RISKS        0
WNTW_RISKR        0
NRI_VER           0
Length: 445, dtype: int64

In [16]:
# # Exporting the DataFrame to a CSV file
# df.to_csv('cleaned_NRI_Table_CensusTracts_California.csv', index=False)

In [17]:
# # To download the cleaned FEMA data to your laptop
# from google.colab import files
# files.download('cleaned_NRI_Table_CensusTracts_California.csv')

In [27]:
# Adding the cleaned dataset to our shared Google Drive
# df.to_csv('/content/drive/My Drive/Break Through Tech AI @ MIT/AI Studio Project/BTTAI Group 46 - PREPARED/cleaned_NRI_Table_CensusTracts_California.csv', index=False) # my path
df.to_csv('/content/drive/My Drive/BTTAI Group 46 - PREPARED/cleaned_NRI_Table_CensusTracts_California.csv') # general path